<!DOCTYPE html>
<html>
<head>
    <title>About page</title>
    <link rel="stylesheet" href={{url_for('static',filename='style.css')}}>
</head>
<body>
    <h1>About Us</h1>
    <p><strong>Student Registration System</strong> is a web application designed to streamline the process of student enrollment and management. Our system provides an intuitive interface for students to register for courses, view their schedules, and manage their academic information. It also offers powerful tools for administrators to oversee student records, course offerings, and overall system performance.</p>
</body>
</html>